<app-header #headerComponent 
  [listComponent]="listComponent" 
  [menuComponent]="menuComponent"
  [taskComponent]="taskComponent">
</app-header>
<div class="main site-background">
  <app-list #listComponent 
    [ngClass]="{'hidden-mobile': listComponent.showTasksMobile}" 
    [taskComponent]="taskComponent">
  </app-list>
  <app-task #taskComponent 
    [ngClass]="{'hidden-mobile': !listComponent.showTasksMobile}">
  </app-task>
  <app-menu #menuComponent
    [headerComponent]="headerComponent" 
    [listComponent]="listComponent" 
    [taskComponent]="taskComponent" 
    [ngClass]="{'hidden': !menuComponent.isMenuDisplayed}">
  </app-menu>
</div>