.btn--add {
  background-color: #399039;
  color: white;
}

.btn--complete {
  background-color: transparent;
  border: 1px solid #ccc;
  border-radius: 30px;
  color: transparent;
  font-size: 12px;
  height: 20px;
  padding: 0;
  transition: all .2s;
  width: 20px;

  /* Center vertically */
  margin: 0 0 0 16px;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);

}

.btn--complete:hover {
  border-color: #04d9e9;;
  color: #04d9e9;;
}

.btn--edit,
.btn--delete {
  color: white;
  float: right;
}

.btn--delete {
  background-color: #d03b3b;
  margin-right: 4px;
}

.btn--edit {
  background-color: #139cb1;
}

.btn--toggle {
  background-color: #ddd;
  border: 1px solid #ccc;
}

.input-group {
  display: flex;
}

.input-group--prepend .btn {
  border-radius: 4px 0 0 4px;
}

.input-group--prepend .input-group__input {
  border-radius: 0 4px 4px 0;
  flex: auto;
}

.list__item {
  height: 40px;
  position: relative;
}

.list__item input {
  border-bottom: 1px solid #eee;
  border-radius: 0;
  /* Center vertically */
  margin: 0 0 0 52px;
  padding: 8px 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: calc(100% - 64px);
}

.list__item input:focus,
.list__item input:hover {
  border-bottom-color:#ddd;
}