.btn--complete {
  background-color: transparent;
  border: 1px solid #ccc;
  border-radius: 30px;
  color: transparent;
  font-size: 12px;
  height: 20px;

  /* Center vertically */
  margin: 0 0 0 16px;
  padding: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  transition: all 0.2s;
  width: 20px;

}

.btn--complete:hover {
  border-color: #38C7BD;
  color: #38C7BD;
}

.list__item {
  height: 40px;
  position: relative;
}

.list__item input {
  background-color: transparent;
  border-bottom: 1px solid #eee;
  border-color: transparent;
  /* Center vertically */
  margin: 0 0 0 52px;
  padding: 8px 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: calc(100% - 64px);
}

.list__item input:not(:disabled):focus,
.list__item input:not(:disabled):hover {
  border-bottom-color:#ddd;
}

.list__item input:disabled {
  cursor: pointer;
}

.list__item input:disabled:active {
  color: #38C7BD; 
}