<!-- 
  Inspiration

  1. Apple reminders: https://cdn.zapier.com/storage/photos/60225e6e85a57ecadeccf9b63d2ba669.png
  A. Just worry about right section. Ignore the calendar for now.

 -->

<div class="todo">
  <div class="todo-sidebar">
    <h1 class="site-header">
      <span class="site-header-text">Todo</span>
      <button class="site-nav-toggle" (click)="toggleMobileMenu();">
        <div></div>
        <div></div>
        <div></div> 
      </button>
    </h1>
    <app-list [taskComponent]="taskComponent" [ngClass]="{'hidden-mobile': !showMobileMenu}"
      #listComponent></app-list>
  </div>

  <div class="todo-main">
    <div class="status-bar">
      <h2 class="status-bar__list-name" contenteditable="true" 
        (keydown)="listComponent.handleListKeypress($event);">{{this.taskComponent.activeList.name}}</h2>
      <p>Welcome, {{user.firstName}} {{user.lastName}}</p>
    </div>
    <app-task #taskComponent></app-task>
  </div>
  <br>
</div>