.btn--add {
  background-color: #399039;
  color: white;
}

.btn--edit,
.btn--delete {
  color: white;
  float: right;
}

.btn--delete {
  background-color: #d03b3b;
  margin-right: 4px;
}

.btn--edit {
  background-color: #139cb1;
}

.btn--toggle {
  background-color: #ddd;
  border: 1px solid #ccc;
}

.input-group {
  display: flex;
}

.input-group--prepend .btn {
  border-radius: 4px 0 0 4px;
}

.input-group--prepend .input-group__input {
  border-radius: 0 4px 4px 0;
  flex: auto;
}

.list__item {
  border-color: #ddd;
  border-style: solid;
  border-width: 1px 1px 0 1px;
  padding: 8px 12px;
}

.list__item:first-of-type {
  border-radius: 6px 6px 0 0;
}

.list__item:last-of-type {
  border-radius: 0 0 6px 6px;
  border-width: 1px;
}