<div class="form-background">
  <div class="form-container">
    <form class="form" (submit)="sendForgotPasswordEmail();">
      <div *ngIf="!sentEmail">
        <div class="form__main-error" *ngIf="errors.main.show">
          <p><strong>{{errors.main.message}}</strong></p>
        </div>
        <h1>Forgot Password</h1>
        <div class="form__group">
          <label class="form__label" for="email">Email:</label>
          <input class="form__input" name="email" type="email" [formControl]="email" required email>
          <p class="form__error" *ngIf="errors.email.show">{{errors.email.message}}</p>
        </div>
        <br>
        <button class="form__submit" type="submit">Send Me Instructions</button>
      </div>  
      
      <div *ngIf="sentEmail" class="text-center">
        <h1>Instructions Sent!</h1>
        <p>Instructions for resetting your password have been sent to <strong>{{email.value}}</strong>.</p>
        <p>You should receive this email within 5 minutes.  Be sure to check your spam folder, too.</p>
      </div>
    </form>
  </div>
</div>
