<ul class="lists">
  <li class="list" (click)="changeList(list);" *ngFor="let list of lists">
    <i class="list-icon fal fa-folder"></i>
    <span class="list-name">{{list.name}}</span>
    <span class="list-num-tasks"></span>
  </li>
  <li class="new-list">
    <i class="new-list-icon fal fa-plus"></i>
    <span class="new-list-text">New List</span>
  </li>
</ul>


<!-- <div class="list-container">
  <h2 class="list-header text-center">
    <p class="list-header-text">Lists</p>
    <button class="list-addBtn" (click)="addList();">
     <i class="fas fa-plus"></i>
    </button>
  </h2>
  <ul class="list">
    <li class="list__item text-center" *ngFor="let list of lists" (click)="changeList(list);">
      <p>{{list.name}}</p>
    </li>
  </ul>
</div> -->