<ul class="lists">
  <li class="list" (click)="changeList(list);" *ngFor="let list of lists" 
    [ngClass]="{'active': list === taskComponent.activeList}">
    <i class="list-icon fal fa-folder"></i>
    <span class="list-name">{{list.name}}</span>
    <!-- TODO: Figure out how to get the number of tasks -->
    <!-- The data is not currently retrieving the number of tasks -->
    <!-- The number of tasks is only known after the list is changed, 
         and the tasks are retrieved in their own ajax call.
    -->
    <!-- <span class="list-num-tasks">{{list.tasks.length}}</span> -->
  </li>
  <li class="new-list" (click)="createEmptyList();">
    <i class="new-list-icon fal fa-plus"></i>
    <span class="new-list-text">New List</span>
  </li>
</ul>
<div class="undo" (click)="undoDeleteList();" *ngIf="showUndo">
  <i class="undo-icon fal fa-undo"></i>
  <span class="undo-text">Undo</span>
  <span class="undo-list-deleted-text">List Deleted</span>
</div>