.tasks {
  color: white;
  margin-top: 8px;
}

.task,
.new-task {
  background-color: rgba(14, 127, 166, 0.3);
  border-radius: 4px;
  margin-bottom: 1px;
  margin-left: 8px;
  margin-right: 8px;
  padding: 8px;
}

.list, 
.new-list {
  height: 40px;
  line-height: 40px;
}

.task-icon,
.new-task-icon {
  display: inline-block;
  font-size: 15px;
  text-align: center;
  width: 24px;
}

.task-complete-btn {
  background-color: #ffffff;
  border: 1px solid var(--site-alternate);
  border-radius: 2px;
  box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.5);
  height: 16px;
  margin-right: 8px;
  padding: 0;
  width: 16px;
}

.task-name-input {
  background-color: transparent;
  border: 0;
  color: #ffffff;
  height: 17px;
  padding: 0;
  vertical-align: top;
}