@import "../../../variables.scss";

.tasks {
  color: white;
  margin: 8px auto 0;
  max-width: 800px;
  padding: 0 8px;
}

@media(min-width: 768px) {
  .tasks {
    padding: 0;
  }
}

.new-task,
.task {
  background-color: rgba(14, 127, 166, 0.3);
  border-radius: 4px;
  margin-bottom: 1px;
  padding: 8px;
}

.new-task {
  cursor: pointer;
}

.new-task:hover {
  filter: brightness(110%);
}

.task {
  display: flex;
}

.list, 
.new-list {
  height: 40px;
  line-height: 40px;
}

.new-task-icon {
  font-size: 15px;
  text-align: center;
}

.task-complete-btn {
  background-color: #ffffff;
  border: 1px solid $site-alternate;
  border-radius: 2px;
  box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.5);
  height: 16px;
  padding: 0;
}

.new-task-icon, 
.task-complete-btn {
  display: inline-block;
  margin-right: 12px;
  width: 16px;
}

.task-name-input, 
.task-date-input {
  background-color: transparent;
  border: 0;
  color: #ffffff;
  height: 17px;
  outline: none;
  padding: 0;
  vertical-align: top;
}

.task-name-input {
  flex: 1;
}

.task-date-input {
  text-align: right;
}