<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<div class="container">
  <br />
  <br />
  <h1 class="text-center">Todo List App</h1>
  <button class="glyphicon glyphicon-plus btn btn-success" (click)="showAddForm();"></button>
  <br />
  <br />
  <br />
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let item of list">
      <input id="txtName_{{item.id}}" type="text" value="{{item.name}}" disabled />
      <button class="glyphicon glyphicon-pencil btn btn-info pull-right" (click)="toggleTextBox('#txtName_' + item.id);"></button>
      <button class="btn btn-danger glyphicon glyphicon-minus pull-right" (click)="deleteItem(item);"></button>
    </li>
  </ul>
  <form id="addForm" class="hidden" (submit)="addItemToList(item.value);">
    <div class="form-group">
      <input type="text" class="form-control" #item />
      <br />
      <button type="submit" class="btn btn-primary btn-lg">Add</button>
    </div>
  </form>
</div>
