.form-main-error .forgot-password-link {
  font-size: 16px;
  margin-top: 4px;
}

.forgot-password-link {
  border-style: dotted;
  border-width: 0 0 1px 0;
  color: #444;
  font-size: 14px;
  text-decoration: none;
}

.forgot-password-link:hover {
  border-style: solid;
}

.register {
  color: #fff;
  height: 40px;
  line-height: 40px;
}

.register-btn {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  margin-left: 8px;
  transition: background-color 0.2s ease-in, color 0.2s ease-in;
}

.register-btn:hover {
  background-color: #eee;
  color: #444;
}