<div class="form-background">
  <div class="form-container">
    <form class="form" (submit)="loginUser(email, password);">
      <div class="form-main-error" *ngIf="errors.main.show">
        <p><strong>{{errors.main.message}}</strong></p>
      </div>
      
      <h1 class="form-header">Login</h1>
      <div class="form-group">
        <label class="form-label" for="email">Email:</label>
        <input class="form-input" name="email" type="text" [formControl]="email" email required>
        <p class="form-error" *ngIf="errors.email.show">{{errors.email.message}}</p>
      </div>
      <br>
      <div class="form-group">
        <label class="form-label" for="password">Password:</label>
        <input class="form-input" name="password" type="password" [formControl]="password" required>
        <p class="form-error" *ngIf="errors.password.show">{{errors.password.message}}</p>
      </div>
      <br>
      <button class="form-submit" type="submit">Login</button>
    </form>
    <br>
    <div class="register text-center">
      <span>Don't have an account?</span>
      <button routerLink="/register" routerLinkActive="active" class="register-btn">Sign up</button>
    </div>
  </div>
</div>
