/* You can add global styles to this file, and also import other style files */
a,
body,
button,
div,
header,
html,
p,
span,
ul,
li,
input {
  font-family: 'Source Sans Pro', TimesNewRoman, 'Times New Roman';
  font-size: 16px;
}

body {
  margin: 0;
}

h1 {
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
}

button {
  background-color: #eee;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  padding: 8px 12px;
  transition: filter 0.2s;
  vertical-align: top;
}

button:hover {
  filter: brightness(92%);
}

button:active {
  filter: brightness(105%);
}

.container {
  margin: 0 auto;
  max-width: 1080px;
}

.hidden {
  display: none;
}

@media(max-width: 767px) {
  .hidden-mobile  {
    display: none;
  }
}


input[type="email"],
input[type="password"],
input[type="text"] {
  border: 1px solid #ddd;
  border-radius: 0;
  cursor: text;
  outline: none;
  padding: 6px;
  vertical-align: top;
}

.invisible {
  visibility: hidden;
}

.loading {
  animation: rotate 2s linear infinite;
  animation-delay: 0;
  color: #0E7FA6;
  font-size: 2.5em;
  margin: 0 auto;
  text-align: center;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

.text-center {
  text-align: center;
}

.form-background {
  background-image: linear-gradient(white, #0E7FA6);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.form-container {
  left: 50%;
  margin: 0 auto;
  max-width: 96%;
  position: absolute;
  top: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width:  650px;
}

.form {
  background-color: #fff;
  border-radius: 6px;
  margin: 0 auto;
  padding: 32px 32px 64px; 
  position: relative;
}

@media(min-width: 768px) {
  .form {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }
}

.form__header {
  font-weight: normal;
}

.form .form__input {
  border-radius: 4px;
}

.form__input {
  display: block;
  font-size: 18px;
  height: 30px;
  width: 100%;
}

.form__label {
  display: block;
  margin-bottom: 4px;
}

.form__submit {
  float: right;
  padding: 10px 14px;
  vertical-align: top;
}

.form__error {
  color: red;
  font-size: 16px;
  margin-bottom: 4px;
  margin-top: 4px;
}

.form__main-error {
  background-color: #ffedef;
  border-radius: 6px;
  font-size: 16px;
  padding: 12px;  
  text-align: center; 
}

.form__main-error p {
  margin-bottom: 4px;
  margin-top: 4px;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}