/* You can add global styles to this file, and also import other style files */
a,
body,
button,
div,
header,
html,
p,
span,
ul,
li,
input {
  font-family: 'Source Sans Pro', TimesNewRoman, 'Times New Roman';
  font-size: 16px;
}

h1 {
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
}

button {
  border: none;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  padding: 8px 12px;
  transition: filter 0.2s;
  vertical-align: top;
}

button:hover {
  filter: brightness(92%);
}

button:active {
  filter: brightness(105%);
}

.container {
  margin: 0 auto;
  max-width: 1080px;
}

input[type="text"] {
  border: 1px solid #ddd;
  border-radius: 0;
  cursor: text;
  outline: none;
  padding: 6px;
  vertical-align: top;
}

.invisible {
  visibility: hidden;
}

.loading {
  animation: rotate 2s linear infinite;
  animation-delay: 0;
  color: #0E7FA6;
  font-size: 2.5em;
  margin: 0 auto;
  text-align: center;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

.text-center {
  text-align: center;
}
