@import "../../../variables.scss";

.site-menu {
  background-color: $site-primary;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  bottom: 0;
  color: #ffffff;
  left: 0;
  margin: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1000;
}

@media(min-width: 767px) {
  .site-menu {
    width: $sidebar-width;
  }
}

.site-menu-item {
  background-color: $site-primary;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  cursor: pointer;
  height: 40px;
  line-height: 40px;
}

.site-menu-item:hover {
  filter: brightness(90%);
}

.site-menu-item:active {
  filter: brightness(110%);
}

.site-menu-item-icon {
  font-size: 15px;
  text-align: center;
  width: 44px;
}