<div class="form-background">
    <div class="form-container">
      <form class="form" (submit)="resetPassword();">
        <div class="form__main-error" *ngIf="errors.main.show">
          <p><strong>{{errors.main.message}}</strong></p>
        </div>
        <h1>Reset Password</h1>
        <div class="form__group">
          <label class="form__label" for="email">Email:</label>
          <input class="form__input" name="email" type="email" [formControl]="email" required email>
          <p class="form__error" *ngIf="errors.email.show">{{errors.email.message}}</p>
        </div>
        <br>
        <div class="form__group">
          <label class="form__label" for="email">Old Password:</label>
          <input class="form__input" name="email" type="password" [formControl]="oldPassword" required>
          <p class="form__error" *ngIf="errors.oldPassword.show">{{errors.email.message}}</p>
        </div>
        <br>
        <div class="form__group">
          <label class="form__label" for="email">New Password:</label>
          <input class="form__input" name="email" type="password" [formControl]="newPassword" required>
          <p class="form__error" *ngIf="errors.newPassword.show">{{errors.email.message}}</p>
        </div>
        <br>
        <button class="form__submit" type="submit">Submit</button>  
      </form>
    </div>
  </div>
  